*~
backup
elpa
.smex-items
places
url
local.el
anything-c-*
eshell
swank
session.*
ac-comphist.dat
start.el
_site
.mc-lists.el
ido.last
recentf
*.log
anaconda-mode
projectile-bookmarks.eld
custom.el
projectile.cache
network-security.data
bookmarks
